# Environment
NODE_ENV="development"

# Main API URL
NEXT_PUBLIC_API_URL="http://localhost:8000/api"

# NextAuth
NEXTAUTH_URL="http://localhost:5173/FinTrack/api/auth"
NEXTAUTH_SECRET="your_nextauth_secret_min_32_chars"

# Google OAuth
GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
