# Environment
NODE_ENV=development

# Main API URL
NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_SITE_ORIGIN=http://localhost:5173

# NextAuth
NEXTAUTH_URL=http://localhost:5173/FinTrack/api/auth
NEXTAUTH_SECRET=generate_random_32_chars_string_here

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_client_secret

# ============================================
#
# docker run -d --name fintrack-web -p 5173:5173 --add-host=host.docker.internal:host-gateway --env-file apps/web/.env.docker fintrack-web
#
# docker build --build-arg NEXT_PUBLIC_API_URL=http://localhost:8000/api -f apps/web/Dockerfile -t fintrack-web .
#
# docker stop fintrack-web; docker rm fintrack-web
# ============================================