# Environment
NODE_ENV="development"
ENABLE_SWAGGER_IN_PROD="false"

# App setup
HOST="localhost"
PORT="8000"
CORS_ORIGINS="http://localhost:5173,http://127.0.0.1:5173"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/your_db?schema=your_schema"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="user"
DB_PASSWORD="password"
DB_NAME="your_db"

# JWT/access token
ACCESS_TOKEN_SECRET="your_jwt_access_token_secret_here"

# Google OAuth verification (must match Google Cloud OAuth client)
GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"

# AI apis
GROQ_API_KEY_1=your_groq_api_key
API_KEY_ENCRYPTION_SECRET=your-32-char-secret-here # 32+ symb
