# Environment
NODE_ENV="development"

# API setup
HOST="localhost"
PORT="8000"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/your_db?schema=your_schema"

# JWT secrets
REFRESH_TOKEN_SECRET="your_jwt_refresh_token_secret_here"
ACCESS_TOKEN_SECRET="your_jwt_access_token_secret_here"

# Hugging Face API tokens
HF_API_TOKEN_1="your_huggingface_api_token_here"